mixin file_list(files)
  ul.collapsibleList
    each file, i in files
      li
        if file.url
          a(href='/#{file.url}')
           | #{file.name}
        else
          a(href='#', onclick='event.preventDefault();')
           | #{file.name}
        if file.children.length > 0
          +file_list(file.children)
.widget.nocontent
  h4.widget-title.deco-headline 
    a(href='/blog') Memo Archive
  .widget-content
    ul#blogArchive.widget-list
      li
        a(href='/blog') Archive
        +file_list(posts)
