// Start: Footer
footer
  .footer-main
    .container
      .row
        .col-md-4
          span.copyright Copyright © 2015 - Dave Hampton
        .col-md-4
          h5
            a(href='http://www.jacksonfriggle.com') Genicken Corporation Proudly Supports Jackson Friggle.
        .col-md-4
          ul.list-inline.quicklinks
            li
              a(href='/privacy') Privacy Policy & Terms of Use
            li
              a.portfolio-link(href='/portfolio/photoCredits') Photo Credits
            li
              a(href='/#contact') Contact Us
  include socialMobile.jade
// jQuery
script(src='/js/jquery.js')
// Bootstrap Core JavaScript
script(src='/js/bootstrap.min.js')
// Plugin JavaScript
script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
script(src='/js/classie.js')
script(src='/js/cbpAnimatedHeader.js')
// Contact Form JavaScript
script(src='/js/jqBootstrapValidation.js')
script(src='/js/contact_me.js')
// Custom Theme JavaScript
script(src='/js/agency.js')
script(src='/js/collapsibleLists.min.js')
script.
  CollapsibleLists.apply();
  $('ul:first, ul:first ul:first, ul:first ul:first ul:first', '#blogArchive').css('display', 'block')
  

