meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name='description', content='')
meta(name='author', content='')
link(rel='apple-touch-icon', sizes='57x57', href='/apple-icon-57x57.png')
link(rel='apple-touch-icon', sizes='60x60', href='/apple-icon-60x60.png')
link(rel='apple-touch-icon', sizes='72x72', href='/apple-icon-72x72.png')
link(rel='apple-touch-icon', sizes='76x76', href='/apple-icon-76x76.png')
link(rel='apple-touch-icon', sizes='114x114', href='/apple-icon-114x114.png')
link(rel='apple-touch-icon', sizes='120x120', href='/apple-icon-120x120.png')
link(rel='apple-touch-icon', sizes='144x144', href='/apple-icon-144x144.png')
link(rel='apple-touch-icon', sizes='152x152', href='/apple-icon-152x152.png')
link(rel='apple-touch-icon', sizes='180x180', href='/apple-icon-180x180.png')
link(rel='icon', type='image/png', sizes='192x192', href='/android-icon-192x192.png')
link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
link(rel='icon', type='image/png', sizes='96x96', href='/favicon-96x96.png')
link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
link(rel='manifest', href='/manifest.json')
meta(name='msapplication-TileColor', content='#ffffff')
meta(name='msapplication-TileImage', content='/ms-icon-144x144.png')
meta(name='theme-color', content='#ffffff')
title Genicken Corporation
// Bootstrap Core CSS
link(href='/css/bootstrap.min.css', rel='stylesheet')
// Custom CSS
link(href='/css/agency.css', rel='stylesheet')
// Custom Fonts
link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css', rel='stylesheet', type='text/css')
link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
link(href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic', rel='stylesheet', type='text/css')
link(href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')
// HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
// WARNING: Respond.js doesn't work if you view the page via file://
//if lt IE 9
  script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
  script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')

