nav.navbar.navbar-default.navbar-fixed-top
  .container
    // Get the scrolling to work on home page
    // Brand and toggle get grouped for better mobile display
    .navbar-header.page-scroll
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand.page-scroll(href='#{lead}#page-top')
        img(src='/img/Genicken.png')
    // Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li.hidden
          a(href='#{lead}#page-top')
        li
          a.page-scroll(href='#{lead}#services') Services
        li
          a.page-scroll(href='#{lead}#portfolio') Projects
        li
          a.page-scroll(href='#{lead}#about') About
        li
          a.page-scroll(href='#{lead}#team') Team
        li
          a.page-scroll(href='#{lead}#contact') Contact
        li
          a.page-scroll(href='/blog') Confidential
          
    // /.navbar-collapse
  // /.container-fluid

