.col-md-4.advertising-item
  // Mid Page Right - Genicken
  ins.adsbygoogle(style='display:inline-block;width:300px;height:250px', data-ad-client='ca-pub-5449524532012541', data-ad-slot='1722023025')
  script.
    (adsbygoogle = window.adsbygoogle || []).push({});
