.container.social-mobile.show-mobile-bottom.bg-light-gray
  .row
    .col-md-4.text-right.min-padding.hidden-xs
      h4 Share 
        i.fa.fa-arrow-right
    .col-md-4.text-center.min-padding
      include socialProfiles.jade
    .col-md-4.text-right.min-padding.hidden-xs

        
