- var encodedURL= encodeURIComponent(reqURL)
- var encodedTitle = encodeURIComponent(title)

ul.list-inline.social-buttons
  li
    a.social-button.social-facebook(target="_blank", href='https://www.facebook.com/sharer.php?u=#{encodedURL}&t=#{encodedTitle}', title='Share To Facebook')
      i.fa.fa-facebook
  li
    a.social-button.social-twitter(target="_blank", href='https://www.twitter.com/share?text=#{encodedTitle}&url=#{encodedURL}', title='Tweet')
      i.fa.fa-twitter
  li
    a.social-button.social-reddit(target="_blank", href='https://www.reddit.com/submit?url=#{encodedURL}&title=#{encodedTitle}', title='Submit to Reddit')
      i.fa.fa-reddit
  li
    a.social-button.social-google-plus(target="_blank", href='https://plus.google.com/share?url=#{encodedURL}&t=#{encodedTitle}', title='Share To Google+')
      i.fa.fa-google-plus
  li
    a.social-button.social-tumblr(target="_blank", href='https://www.tumblr.com/share?v=3&u=#{encodedURL}&t=#{encodedTitle}', title='Post to Tumblr')
      i.fa.fa-tumblr
  li
    a.social-button.social-envelope(href='mailto:?subject=OMG! This is Awesome: #{title}&body=#{reqURL}', title='Email')
      i.fa.fa-envelope
