.section.social-updates.hide-mobile
  .q-container
    .q-row
      .q-col-1-1
        h2.section-headline.wow.animated.fadeInLeft(data-wow-offset='100', data-wow-duration='0.5s')
          span Share Now in 
          | Social Media
        include socialProfiles.jade
        
