// Start: twoAdUnit
section#advertising.bg-light-gray
  .container
    .row
      .col-lg-8.text-center
        h2.section-heading Paid Advertising
        h3.section-subheading.text-muted Because we want to make money from everything we do.
    .row
      .col-md-4.advertising-item.text-center
        // Mid Page Left - Genicken
        ins.adsbygoogle(style='display:inline-block;width:300px;height:250px', data-ad-client='ca-pub-5449524532012541', data-ad-slot='7768556623')
        script.
          (adsbygoogle = window.adsbygoogle || []).push({});
      .col-md-4.advertising-item.text-center
        // Mid Page Center - Genicken
        ins.adsbygoogle(style='display:inline-block;width:300px;height:250px', data-ad-client='ca-pub-5449524532012541', data-ad-slot='9245289822')
        script.
          (adsbygoogle = window.adsbygoogle || []).push({});
// End: twoAdUnit
