extends layout

block content
  link(href='/feeds/memos/rss', rel='alternate', type='application/rss+xml', title="Follow The Hacked Genicken Classified Memos")
  // Start: Main
  .miniheader
  section#blog
    .container
      .row
        .col-lg-12.text-center
          h2.section-heading Genicken Internal Memos 
          img(src='/img/hbm.png', alt='Hacked By Monogamous')
          h3.section-subheading CONFIDENTIAL - not for Public Release
            br
            | Hacked by 
            a(href="https://www.facebook.com/MonogamousActivistHackers", alt="Monogamous! unexpected!") Monogamous
      .row
        .col-lg-8
          h4 Recent Memos:
          .blog-archive
            - var counter = 0
            each post in flatPosts
              - counter = counter + 1
              article.blog-post
                .blog-post-header
                  h1.blog-post-headline 
                    a(href='#{post.url}') #{post.name}
                != templateRender(post.path.substr(2), context)
                footer.blog-post-footer
                p
                  a.button(href='#{post.url}')
                    button.btn.btn-primary(type="button") Continue Reading
                  
              if counter === 1
            .pagination.text-center
              if previous !== null
                a.prev.page-numbers(href='/blog/' + previous)
                  i.fa.fa-caret-left
              //a.page-numbers(href='#') 1
              //span.page-numbers.current 2
              //a.page-numbers(href='#') 3
              if next !== null
                a.next.page-numbers(href='/blog/' + next)
                  i.fa.fa-caret-right
          include includes/twoAdUnit.jade
        .col-lg-4.bg-light-gray
          include includes/blogArchive.jade
          include includes/sideBarAd.jade
