doctype xml
rss(version='2.0')
  channel
    title #{title}
    link #{blogLoc}
    description #{description}
    language en-US
    if posts.length
      lastBuildDate= new Date(posts[0].postDate).toUTCString()
    each post in posts
      item
        title= post.name
        link http://www.genicken.com/#{post.url}
        description
          | #{post.name}
        pubDate= new Date(post.postDate).toUTCString()
