extends layout

block content
  // Header
  header
    .container
      .intro-text
        .intro-lead-in A Bright Future Through Genetic Experimentation
        .intro-heading Genicken
        a.page-scroll.btn.btn-xl(href='#services') Tell Me More
  // Advertising Grid Section
  include includes/midAdUnit.jade
  // Services Section
  section#services
    .container
      .row
        .col-lg-12.text-center
          h2.section-heading Services
          h3.section-subheading.text-muted The Future is in Our Hands.
      .row.text-center
        .col-md-4
          span.fa-stack.fa-4x
            i.fa.fa-circle.fa-stack-2x.text-primary
            i.fa.fa-flask.fa-stack-1x.fa-inverse
          h4.service-heading Genetic Modification
          p.text-muted
            | We specialize and are FDA approved for the Genetic Modification of Animals for use in human consumption.
        .col-md-4
          span.fa-stack.fa-4x
            i.fa.fa-circle.fa-stack-2x.text-primary
            i.fa.fa-rocket.fa-stack-1x.fa-inverse
          h4.service-heading Biological Weaponization
          p.text-muted
            | From weapons grade hamsters to self-detonating badgers, our creations are giving the U.S. Military the tools it needs for world peace.
        .col-md-4
          span.fa-stack.fa-4x
            i.fa.fa-circle.fa-stack-2x.text-primary
            i.fa.fa-user-md.fa-stack-1x.fa-inverse
          h4.service-heading Animal Testing
          p.text-muted
            | We're one of the few resources left that will allow you to safely test your products on hapless rabbits.
  // Portfolio Grid Section
  section#portfolio.bg-light-gray
    .container
      .row
        .col-lg-12.text-center
          h2.section-heading Projects
          h3.section-subheading.text-muted The World of Genetics is in our hands.
      .row
        .col-md-4.col-sm-6.portfolio-item
          a.portfolio-link(href='/portfolio/geneticModification')
            .portfolio-hover
              .portfolio-hover-content
                i.fa.fa-plus.fa-3x
            img.img-responsive(src='img/portfolio/chicken-preview.jpg', alt='')
          .portfolio-caption
            h4 Genetic Modification
            p.text-muted The Future of Chicken
        .col-md-4.col-sm-6.portfolio-item
          a.portfolio-link(href='/portfolio/weaponsGradeHamsters')
            .portfolio-hover
              .portfolio-hover-content
                i.fa.fa-plus.fa-3x
            img.img-responsive(src='img/portfolio/hamster-preview.jpg', alt='')
          .portfolio-caption
            h4 Weapons Grade Hamsters
            p.text-muted Giving New Power to Gerbils
        .col-md-4.col-sm-6.portfolio-item
          a.portfolio-link(href='portfolio/selfDetonatingMammals')
            .portfolio-hover
              .portfolio-hover-content
                i.fa.fa-plus.fa-3x
            img.img-responsive(src='img/portfolio/badger-preview.jpg', alt='')
          .portfolio-caption
            h4 Self-Detonating Badgers
            p.text-muted Who knew, Right?!
        .col-md-4.col-sm-6.portfolio-item
          a.portfolio-link(href='/portfolio/geneticTargeting')
            .portfolio-hover
              .portfolio-hover-content
                i.fa.fa-plus.fa-3x
            img.img-responsive(src='img/portfolio/shopping-preview.jpg', alt='')
          .portfolio-caption
            h4 Genetic Targeting
            p.text-muted We Know Who Is Born To Shop
        .col-md-4.col-sm-6.portfolio-item
          a.portfolio-link(href='/portfolio/cloning')
            .portfolio-hover
              .portfolio-hover-content
                i.fa.fa-plus.fa-3x
            img.img-responsive(src='img/portfolio/cloning-preview.jpg', alt='')
          .portfolio-caption
            h4 Cloning
            p.text-muted Again & Again
        .col-md-4.col-sm-6.portfolio-item
          a.portfolio-link(href='/portfolio/bulkOrganSales')
            .portfolio-hover
              .portfolio-hover-content
                i.fa.fa-plus.fa-3x
            img.img-responsive(src='img/portfolio/organ-preview.jpg', alt='')
          .portfolio-caption
            h4 Bulk Organ Sales
            p.text-muted Pending Legislation
  // About Section
  section#about
    .container
      .row
        .col-lg-12.text-center
          h2.section-heading About
          h3.section-subheading.text-muted Our Story
      .row
        .col-lg-12
          ul.timeline
            li
              .timeline-image
                img.img-circle.img-responsive(src='img/about/1.jpg', alt='')
              .timeline-panel
                .timeline-heading
                  h4 1951 - 1973
                  h4.subheading Our Humble Beginnings
                .timeline-body
                  p.text-muted
                    | As a lowly chicken farmer in the 1950's, we accidently purchased radiated chicken eggs from a supplier in Nevada. These babies grew at an enormously accelerated rate. It launched our interest and business of augmenting the very DNA of the food we eat.
            li.timeline-inverted
              .timeline-image
                img.img-circle.img-responsive(src='img/about/2.jpg', alt='')
              .timeline-panel
                .timeline-heading
                  h4 1974 - 1981
                  h4.subheading Experiments with Experimentation
                .timeline-body
                  p.text-muted
                    | With the availability of computing, we began to not just experiment, but experiment on our experiments. We mixed and mingled different biological strains with varied genetic strands. We courted with global disaster on the way to breakthrough discoveries.
            li
              .timeline-image
                img.img-circle.img-responsive(src='img/about/3.jpg', alt='')
              .timeline-panel
                .timeline-heading
                  h4 1982 - 1996
                  h4.subheading Breakthrough Discoveries
                .timeline-body
                  p.text-muted
                    | After nearly destroying the planet through failed experiments (twice!) We finally mastered the technique of Genetic Hyper-Splice Mutilization® Now that we could achieve anything, we had to set our corporate mind on our goals.
            li.timeline-inverted
              .timeline-image
                img.img-circle.img-responsive(src='img/about/4.jpg', alt='')
              .timeline-panel
                .timeline-heading
                  h4 1997 - Today
                  h4.subheading Global Domination
                .timeline-body
                  p.text-muted
                    | Today, we are on the forefront of monetizing genetic identification, modification and militarization. We can modify the genetic strucutre of people in situ, convert them into buyers, and then destroy them at will. It truly is A Bright Future.
            li.timeline-inverted
              .timeline-image
                h4
                  | Be Part
                  br
                  | Of Our
                  br
                  | Story!
  // Team Section
  section#team.bg-light-gray
    .container
      .row
        .col-lg-12.text-center
          h2.section-heading Our Research Staff
          h3.section-subheading.text-muted Leaders in Innovation.
      .row
        .col-sm-4
          .team-member
            img.img-responsive.img-circle(src='img/team/1.jpg', alt='')
            h4 Chuck "Stallion" Rainey
            p.text-muted Director of Militarization
          //
            ul.list-inline.social-buttons
              li
                a(href='#')
                  i.fa.fa-twitter
              li
                a(href='#')
                  i.fa.fa-facebook
              li
                a(href='#')
                  i.fa.fa-linkedin
        .col-sm-4
          .team-member
            img.img-responsive.img-circle(src='img/team/2.jpg', alt='')
            h4 Dr. Sigmund Oppenganger
            p.text-muted Director of Mutilization Research
          //
            ul.list-inline.social-buttons
              li
                a(href='#')
                  i.fa.fa-twitter
              li
                a(href='#')
                  i.fa.fa-facebook
              li
                a(href='#')
                  i.fa.fa-linkedin
        .col-sm-4
          .team-member
            img.img-responsive.img-circle(src='img/team/3.jpg', alt='')
            h4 Dr. Ivana Wolfspatz
            p.text-muted V.P of In Situ Modification Research
          //
            ul.list-inline.social-buttons
              li
                a(href='#')
                  i.fa.fa-twitter
              li
                a(href='#')
                  i.fa.fa-facebook
              li
                a(href='#')
                  i.fa.fa-linkedin
      .row
        .col-lg-8.col-lg-offset-2.text-center
          p.large.text-muted
            | Interested in working for Genicken? Use the Contact form below to inquire.
            br
            | (DNA Sample Required)
  // Clients Aside
  section.clients
    .container
      .row
        .col-lg-12.text-center
          h2.section-heading.text-lowercase Engineered in 
            span.text-capitalize Alabama
            sup &#174;
          h3.section-subheading.text-muted Proudly Supporting The Future of Alabama.
      //.row
        .col-md-3.col-sm-6
          a(href='#')
            img.img-responsive.img-centered(src='img/logos/envato.jpg', alt='')
        .col-md-3.col-sm-6
          a(href='#')
            img.img-responsive.img-centered(src='img/logos/designmodo.jpg', alt='')
        .col-md-3.col-sm-6
          a(href='#')
            img.img-responsive.img-centered(src='img/logos/themeforest.jpg', alt='')
        .col-md-3.col-sm-6
          a(href='#')
            img.img-responsive.img-centered(src='img/logos/creative-market.jpg', alt='')
  section#contact
    .container
      .row
        .col-lg-12.text-center
          h2.section-heading Contact Us
          h3.section-subheading.text-muted We're Probably Already Watching You...
      .row
        .col-lg-12
          form#contactForm(name='sentMessage', role='form', method='post', action='/submit', validate='')
            .row
              .col-md-6
                .form-group
                  input#name.form-control(type='text', placeholder='Your Name *', required='', data-validation-required-message='Please enter your name.')
                  p.help-block.text-danger
                .form-group
                  input#email.form-control(type='email', placeholder='Your Email *', required='', data-validation-required-message='Please enter your email address.')
                  p.help-block.text-danger
                .form-group
                  input#phone.form-control(type='tel', placeholder='Your Phone *', required='', data-validation-required-message='Please enter your phone number.')
                  p.help-block.text-danger
              .col-md-6
                .form-group
                  textarea#message.form-control(placeholder='Your Message *', required='', data-validation-required-message='Please enter a message.')
                  p.help-block.text-danger
              .clearfix
              .col-lg-12.text-center
                !{captcha}
              .clearfix
              .col-lg-12.text-center
                #success
                button.btn.btn-xl(type='submit') Send Message
  // Portfolio Modals
  // Use the modals below to showcase details about your portfolio projects!
  // Portfolio Modal 1
  #portfolioModal1.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .modal-body
              // Project Details Go Here
              h2 Project Name
              p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
              img.img-responsive(src='img/portfolio/roundicons-free.png', alt='')
              p
                | Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
              p
                strong Want these icons in this portfolio item sample?
                | You can download 60 of them for free, courtesy of 
                a(href='https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc') RoundIcons.com
                | , or you can purchase the 1500 icon set 
                a(href='https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc') here
                | .
              ul.list-inline
                li Date: July 2014
                li Client: Round Icons
                li Category: Graphic Design
              button.btn.btn-primary(type='button', data-dismiss='modal')
                i.fa.fa-times
                |  Close Project
  // Portfolio Modal 2
  #portfolioModal2.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .modal-body
              h2 Project Heading
              p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
              img.img-responsive.img-centered(src='img/portfolio/startup-framework-preview.png', alt='')
              p
                a(href='http://designmodo.com/startup/?u=787') Startup Framework
                |  is a website builder for professionals. Startup Framework contains components and complex blocks (PSD+HTML Bootstrap themes and templates) which can easily be integrated into almost any design. All of these components are made in the same style, and can easily be integrated into projects, allowing you to create hundreds of solutions for your future projects.
              p
                | You can preview Startup Framework 
                a(href='http://designmodo.com/startup/?u=787') here
                | .
              button.btn.btn-primary(type='button', data-dismiss='modal')
                i.fa.fa-times
                |  Close Project
  // Portfolio Modal 3
  #portfolioModal3.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .modal-body
              // Project Details Go Here
              h2 Project Name
              p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
              img.img-responsive.img-centered(src='img/portfolio/treehouse-preview.png', alt='')
              p
                | Treehouse is a free PSD web template built by 
                a(href='https://www.behance.net/MathavanJaya') Mathavan Jaya
                | . This is bright and spacious design perfect for people or startup companies looking to showcase their apps or other projects.
              p
                | You can download the PSD template in this portfolio sample item at 
                a(href='http://freebiesxpress.com/gallery/treehouse-free-psd-web-template/') FreebiesXpress.com
                | .
              button.btn.btn-primary(type='button', data-dismiss='modal')
                i.fa.fa-times
                |  Close Project
  // Portfolio Modal 4
  #portfolioModal4.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .modal-body
              // Project Details Go Here
              h2 Project Name
              p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
              img.img-responsive.img-centered(src='img/portfolio/golden-preview.png', alt='')
              p
                | Start Bootstrap's Agency theme is based on Golden, a free PSD website template built by 
                a(href='https://www.behance.net/MathavanJaya') Mathavan Jaya
                | . Golden is a modern and clean one page web template that was made exclusively for Best PSD Freebies. This template has a great portfolio, timeline, and meet your team sections that can be easily modified to fit your needs.
              p
                | You can download the PSD template in this portfolio sample item at 
                a(href='http://freebiesxpress.com/gallery/golden-free-one-page-web-template/') FreebiesXpress.com
                | .
              button.btn.btn-primary(type='button', data-dismiss='modal')
                i.fa.fa-times
                |  Close Project
  // Portfolio Modal 5
  #portfolioModal5.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .modal-body
              // Project Details Go Here
              h2 Project Name
              p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
              img.img-responsive.img-centered(src='img/portfolio/escape-preview.png', alt='')
              p
                | Escape is a free PSD web template built by 
                a(href='https://www.behance.net/MathavanJaya') Mathavan Jaya
                | . Escape is a one page web template that was designed with agencies in mind. This template is ideal for those looking for a simple one page solution to describe your business and offer your services.
              p
                | You can download the PSD template in this portfolio sample item at 
                a(href='http://freebiesxpress.com/gallery/escape-one-page-psd-web-template/') FreebiesXpress.com
                | .
              button.btn.btn-primary(type='button', data-dismiss='modal')
                i.fa.fa-times
                |  Close Project
  // Portfolio Modal 6
  #portfolioModal6.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .modal-body
              // Project Details Go Here
              h2 Photo Credits
              button.btn.btn-primary(type='button', data-dismiss='modal')
                i.fa.fa-times
                |  Close Credits








