extends layout
block content
  if title
    // Start: Main
    link(href='/feeds/memos/rss', rel='alternate', type='application/rss+xml', title="Follow The Hacked Genicken Classified Memos")
    .miniheader
    main#main
      .page-body
        .container
          .row
            .col-lg-12.text-center
              h2.section-heading Genicken Internal Memo 
              img(src='/img/hbm.png', alt='Hacked By Monogamous')
              h3.section-subheading CONFIDENTIAL - not for Public Release
                br
                | Hacked by 
                a(href="https://www.facebook.com/MonogamousActivistHackers", alt="Monogamous! unexpected!") Monogamous
        .container
          .row
            .content.col-lg-8
              article.blog-post
                .blog-post-header
                  h1.blog-post-headline.text-center
                    | !{pageTitle}
                  .blog-post-info
                    | Hacked on 
                    block postDate
                      - var postDateNum = postDateValue.getFullYear() + '-' + (postDateValue.getMonth() + 1) + '-' + postDateValue.getDate()
                      - var postDateString = postDateValue.toDateString()
                      time(datetime=postDateNum)= postDateString
                    | . 
                    i.fa.fa-comments
                    a.comments-link(href='#disqus_thread')
                      span.disqus-comment-count(data-disqus-identifier='jacksonfriggle')
                .blog-post-image
                  block postImages
                .blog-post-content
                  block postExcerpt
                  block postContent
                footer.blog-post-footer
                  p.tags
                    i.fa.fa-tag
                    block postTags
                      each tag in tags
                        a(href='#')= tag
                        | , 
                      
              include includes/twoAdUnit.jade
              if postMeta
                .blog-post-comments
                  h3.section-headline Join the Conversation
                  #comments-list
                    #disqus_thread
                    script(type='text/javascript').
                      /* * * CONFIGURATION VARIABLES * * */
                      var disqus_shortname = 'jacksonfriggle';
                      /* * * DON'T EDIT BELOW THIS LINE * * */
                      (function() {
                      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                      })();
                .container.nocontent
                  .row
                    .col-lg-4.text-center
                      if postMeta.previous.name 
                        .pagination
                          h5 #{postMeta.previous.name}
                          a.prev.page-numbers(href='/' + postMeta.previous.url) 
                            i.fa.fa-caret-left
                    .col-lg-4.text-center
                      if postMeta.next.name 
                        .pagination
                          h5 #{postMeta.next.name}
                          a.next.page-numbers(href='/' + postMeta.next.url)
                            i.fa.fa-caret-right
              
            .col-lg-4.bg-light-gray
              include includes/blogArchive.jade
              include includes/sideBarAd.jade
    if postMeta
      script(type='text/javascript').
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = 'jacksonfriggle';
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
                          
      // End: Main
  // Excerpt view
  if !title
    .blog-post-info
      | Hacked on 
      block postDate
        - var postDateNum = postDateValue.getFullYear() + '-' + (postDateValue.getMonth() + 1) + '-' + postDateValue.getDate()
        - var postDateString = postDateValue.toDateString()
        time(datetime=postDateNum)= postDateString
      | . 
      i.fa.fa-comments
    .blog-post-image
    block postImages
    .blog-post-excerpt
    block postExcerpt
    p.tags
      i.fa.fa-tag
      block postTags
        each tag in tags
          a(href='#')= tag
          | , 
                      
                        
    // End: Excerpt


