.blog-post-info
  | Published on 
  block postDate
    - var postDateNum = postDateValue.getFullYear() + '-' + (postDateValue.getMonth() + 1) + '-' + postDateValue.getDate()
    - var postDateString = postDateValue.toDateString()
    time(datetime=postDateNum)= postDateString
  | . 
  i.fa.fa-comments
.blog-post-image
block postImages
.blog-post-excerpt
block postExcerpt
p.tags
  i.fa.fa-tag
  block postTags
    each tag in tags
      a(href='#')= tag
      | , 
                  
                    
// End: Main

