extends ../../../postLayout
block postImages
  .simple-slider
    .simple-slide
      img.img-responsive(src='/img/posts/2015/09/Cage.jpg', alt='Nicholas Cage')
    //.simple-slide
      img(src='/img/posts/2015/09/Blockbuster.jpg', alt='Blockbuster Video')
block postExcerpt
  h2.blog-post-headline Insitu Human-Corporate Hybridization Experiment
  h3 Experiment Date: 06/23/2008
  h4 Status: 
    button.btn.btn-danger(type="button") FAILURE
  p
    | In early 2008 we attempted the insitu hybridization of our first Human/Corporate life form. We attempted to use two of the most 
    | sucessful beings around. Nicholas Cage and Blockbuster Video.
block postContent
  h5 Initial Results
  p Initially we though that the adoption of the corporate policies would be sucessful, however early on Mr. Cage 
    | began rejecting portions of his newly intertwined DNA - especially as it came to policy and paperwork.
  p As time went on, we began to see cracks in the facade of Mr. Cage as well as serious missteps in the business model of Blockbuster Video. 
    | Nicholas had began accepting virtually every roll thrown at him, while Blockbuster video steadfastly held on to quickly archaic distribution and business models.
  h5 Stability Issues
  p Blockbuster saw its core business seriously threatened by a mail order company and another company that just put dvd's in an unmannned box. Sadly, it had bet heavily on bulk ordering "Bee kind Rewind Stickers" in the shape of little bumble bees. That seriously jeopardized its cash flow.
  p Nicholas Cage became more and more incomprehensible and all of his roles morphed into a single sort of deranged Nicholas Cage character - regardless of the defined role.
  h5 Pulling the plug
  p In late 2008, Genicken researchers pulled the plug and separated the two, but it was too late. Blockbuster was on its way out of business and Nicholas Cage was flirting on the edge of irrelevancy.
  h5 Next Steps
  ul
    li Find a more stable Corporation (Proctor and Gamble? Coca-Cola?...)
    li Find a more stable human (perhaps undead? NOTE: look into Dick Cheney)
block prepend postDate
  - var postDateValue = new Date('2015-09-22')
block prepend postTags
  - var tags=['Human', 'Corporate', 'Experimentation']


  
