extends ../../../postLayout
block postImages
  .simple-slider
    .simple-slide
      img.img-responsive(src='/img/posts/2015/09/Cheney.jpg', alt='Cheney Haliburton')
    //.simple-slide
      img(src='/img/posts/2015/09/Blockbuster.jpg', alt='Blockbuster Video')
block postExcerpt
  h2.blog-post-headline Insitu Human-Corporate Hybridization Experiment Phase II
  h3 Experiment Date: 09/08/2008
  h4 Status: 
    button.btn.btn-danger(type="button") FAILURE
  h5 Hypothesis
  p This is our second attempt at insitu hybridization of a Human/Corporate life form. This time we are using an unDead/partially robotic Human donor, Dick Cheney and a Hugely successful Corporation that was arguably made in his own image. 
    | We anticipate that the closer alignment of purpose and goals may alleviate the rejection of the other half by either of the entities.
block postContent
  h5 Initial Results
  p First Off, Dick Cheney is not anywhere near human anymore. He has a large number of robotic/mechanical elements. Portions of his anatomy are no longer in correct place (Liver on the left instead of right; NO kidneys?!; Some Parts look Alien, from our Area-51 involvement) Details are in report IHCHE.C-H.v37268.
  p Secondly, his mass is slightly, but consistently off. The sum of his biological parts ALWAYS weighs 21 grams more than his combined weight. It's not much - but statistically significant. There is also a darkness in his eyes that absorbs all light. It's like a black hole. Most eyes have a reflective quality that causes that "red-eye" in photography. Cheney would never experience that. So that's a plus really.
  p Despite the drastic biological differences, combining him with the Corporate Donor was relatively simple. Especially since Cheney needed no Life Support systems, (pulmonary or respiratory) as he was alive whether those functions worked or not.
  h5 Failure
  p Then, it just didn't work. Case closed. We won't be trying this again.
  p .
  p .
  p .
  p .
  p .
  p .
  p .
  p .
  p .
  p .
  p .
  p .
  p .
  h2.blog-post-headline DEEP CLASSIFICATION LEVEL 10
  h3 Access Requirements: Director Access Only
  h4 Actual Status: 
    button.btn.btn-success(type="button") UNMITIGATED SUCCESS!
  h5 OMG! OMG! OMG! OMG!
  p This is Freaking AMAZING! There is 100% compatibility between these two undead corpses of human flesh and bureaucracy! This thing is firing on all cylinders!
  p We will be able to use the Cheneyburton Beast to influence world politics and economics for the betterment of Genicken. The only down side is that when he smiles he just looks like he is baring his teeth. It's a bit creepy.
  h5 Actions
  ul
    li Re-skin the Cheneyburton Beast as a Vladimir Putin look-a-like using our cloning department
    li Get rid of the current Putin (
      a(href="/portfolio/selfDetonatingMammals") Weaponized Badgers?)
    li Test Military/Leadership skills by invading small country. Ukraine? Wherever. Doesn't really matter.
    li If successful, retarget on mid-east oil to control the flow of oil and direct funds to Genicken.
    li Modify brains of original Researchers to make them believe they were rescuing rabbits.
block prepend postDate
  - var postDateValue = new Date('2015-09-24')
block prepend postTags
  - var tags=['Human', 'Corporate', 'Experimentation']


  
