extends ../layout

block content
  // Start: Main
  .miniheader
  include ../includes/midAdUnit.jade
  section#project
    .container
      .row
        .col-lg-12.text-center
          h2.section-heading Bulk Organ Sales 
          h3.section-subheading.text-muted Pending the Proposed Cruz, Rand, Friggle Act
          img.img-responsive.img-centered(src='/img/portfolio/organ.jpg', alt='')
      .row
        .col-lg-12
          h4 The Goal:
          p
            | Why should Planned Parenthood be the only company that can sell body parts on the free market? That's why we support 
            a(href='http://www.jacksonfriggle.com') Jackson Friggle 
            | for President of the United States and his proposed Cruz, Rand, Friggle Act that will allow us to profit from all 
            | the extra parts we make during the cloning process.
          br
          h4 The Science:
          p 
            | Cloning is a messy business. We often end up with extra parts that we can't use. But, these parts are perfectly good for use in
            | transplant surgery and other applications. Plus, since they've been recently created - they're all low mileage. Some have never
            | been used at all!
          br
          h4 The Results:
          p
            | After the bill is passed, please visit our online shop or local retailer to purchase the part you need!
