extends ../layout

block content
  // Start: Main
  .miniheader
  include ../includes/midAdUnit.jade
  section#project
    .container
      .row
        .col-lg-12.text-center
          h2.section-heading Human Cloning 
          h3.section-subheading.text-muted You can't have more time in your day. But you can have more you in your day.
          img.img-responsive.img-centered(src='/img/portfolio/cloning.jpg', alt='')
      .row
        .col-lg-12
          h4 The Goal:
          p
            | Who doesn't need more time to get things done? Well, we can't alter the fabric of the time-space continuum (yet...)
            | But we can alter the number of "you's" in it. Imagine having an extra hand or two to help out around the home or office.
            | Now, imagine those extra hands were yours. That's the wonder of cloning.
          br
          h4 The Science:
          p 
            | We use Genetic Hyper-Splice Mutilization® to create duplicates of yourself. Only we've "dumbed them down" to take orders from
            | the original genetic donor (you) - so you can use them to get your work done. Whether you need one or one hundred, we can make as many
            | as you need.
          br
          h4 The Results:
          p
            | We've made duplicates for all sorts of people. From Celebrities to Politicians, scores of people are using the power of Genicken
            | technology.
          p
            | (We are unable to comment regarding on the ongoing investigation regarding whether the current Senator Ted Cruz is the original genetic donor
            | or a clone. We appreciate your understanding.)
