extends ../layout

block content
  // Start: Main
  .miniheader
  include ../includes/midAdUnit.jade
  section#project
    .container
      .row
        .col-lg-12.text-center
          h2.section-heading Genetic Targeting 
          h3.section-subheading.text-muted Knowing Ahead of Time who is predisposed to buy.
          img.img-responsive.img-centered(src='/img/portfolio/shopping.jpg', alt='')
      .row
        .col-lg-12
          h4 The Goal:
          p
            | Online and traditional Brick & Mortar retailers have always struggled with identifying likely buyers.
            | Separating the window shoppers from the people who will actually buy can be the difference between failure and success. 
            | Can you tell which woman above is guaranteed to buy? We can.
          br
          h4 The Science:
          p 
            | We've Identified Genetic Markers deep within our DNA which let us separate Shoppers from Buyers. A simple 
            | non-invasive scan when they enter the store allows our partner retailers to dedicate their efforts on the buyers that matter - allowing
            | them to reduce their staff and cost of sale.
          br
          h4 The Results:
          p
            | Massive savings and profitability have been achieved by our retail clients that have adopted our technology. 
            | Which Shopper is going to buy from the picture above? The one on the left. Scanned and Verified.
            br
            | If you're interested in adopting this technology for your store or online presence, use the contact form on the home page. (DNA Sample Required.)
