extends ../layout

block content
  // Start: Main
  .miniheader
  include ../includes/midAdUnit.jade
  section#project
    .container
      .row
        .col-lg-12.text-center
          h2.section-heading  Genetic Modification 
          h3.section-subheading.text-muted The Future of Chicken
          img.img-responsive.img-centered(src='/img/portfolio/chicken.jpg', alt='')
      .row
        .col-lg-12
          h4 The Goal:
          p
            | We are proud to be working closely with 
            a(href='https://www.frigglesfriedchicken.com') Friggle's Fried Chicken
            |  to create delicious tasting chicken at a fraction of the price.
          br
          h4 The Science:
          p 
            | Thanks to the hardwork of 
            a(href='https://www.jacksonfriggle.com') Jackson Friggle 
            | in beginning to convert the FDA into the Food and Drug Acceptance Corporation, we've been able to speed up the testing phase 
            | of our product by serving it to unsuspecting diners at competing restaurants.
          br
          h4 The Results:
          p
            | Rest Assured, Friggle's Fried Chicken will not serve any GMO chicken until it is deemed safe by our accountants and lawyers. 
            | With Plausible Deniability as our mantra, you're safety is second only to ours.
