extends ../layout

block content
  // Start: Main
  .miniheader
  include ../includes/midAdUnit.jade
  // Portfolio Modal 7
  #portfolioModal7.portfolio-modal
    .modal-content
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .modal-body
              // Project Details Go Here
              h2 Photo Credits
              p.item-intro.text-muted A big genetically modified "Thank You" to these talented artists.
              img.img-responsive.img-centered(src='/img/header-bg.jpg', alt='')
              p
                a(href='https://www.flickr.com/photos/snre/') University Of Michigan School of Natural Resources
                a(href='https://creativecommons.org/licenses/by/2.0/')
                  img.cc-license(src='/img/portfolio/by.png')
              img.img-responsive.img-centered(src='/img/portfolio/chicken-preview.jpg', alt='')
              p
                a(href='https://www.flickr.com/photos/kusabi/') Kusabi
                | (altered) 
                a(href='https://creativecommons.org/licenses/by-sa/2.0/')
                  img.cc-license(src='/img/portfolio/by.png')
                  img.cc-license(src='/img/portfolio/sa.png')
              img.img-responsive.img-centered(src='/img/portfolio/hamster-preview.jpg', alt='')
              p
                a(href='https://www.flickr.com/photos/yukariryu/') Yukariryu
                a(href='https://creativecommons.org/licenses/by-sa/2.0/')
                  img.cc-license(src='/img/portfolio/by.png')
                  img.cc-license(src='/img/portfolio/sa.png')
              img.img-responsive.img-centered(src='/img/portfolio/badger-preview.jpg', alt='')
              p
                a(href='https://www.flickr.com/photos/ooocha/') Marion Doss
                a(href='https://creativecommons.org/licenses/by-sa/2.0/')
                  img.cc-license(src='/img/portfolio/by.png')
                  img.cc-license(src='/img/portfolio/sa.png')
              img.img-responsive.img-centered(src='/img/portfolio/shopping-preview.jpg', alt='')
              p
                a(href='https://www.flickr.com/photos/rodeime/') Roderick Eime
                a(href='https://creativecommons.org/licenses/by/2.0/')
                  img.cc-license(src='/img/portfolio/by.png')
              img.img-responsive.img-centered(src='/img/portfolio/cloning-preview.jpg', alt='')
              p
                a(href='https://www.flickr.com/photos/orangeacid/') Dan Foy
                a(href='https://creativecommons.org/licenses/by/2.0/')
                  img.cc-license(src='/img/portfolio/by.png')
              img.img-responsive.img-centered(src='/img/portfolio/organ-preview.jpg', alt='')
              p
                a(href='https://www.flickr.com/photos/blahadam/') blah.adam
                a(href='https://creativecommons.org/licenses/by-nd/2.0/')
                  img.cc-license(src='/img/portfolio/by.png')
                  img.cc-license(src='/img/portfolio/nd.png')
              img.img-responsive.img-centered(src='/img/about/1.jpg', alt='')
              p
                a(href='https://www.flickr.com/photos/dok1/') Don O'Brian
                a(href='https://creativecommons.org/licenses/by/2.0/')
                  img.cc-license(src='/img/portfolio/by.png')
              img.img-responsive.img-centered(src='/img/about/4.jpg', alt='')
              p
                a(href='https://www.flickr.com/photos/donkeyhotey/') Donkey Hotey
                a(href='https://creativecommons.org/licenses/by/2.0/')
                  img.cc-license(src='/img/portfolio/by.png')
              img.img-responsive.img-centered(src='/img/team/2.jpg', alt='')
              p
                a(href='https://www.flickr.com/photos/113717062@N02/') Carlos Henrique
                a(href='https://creativecommons.org/licenses/by-nd/2.0/')
                  img.cc-license(src='/img/portfolio/by.png')
                  img.cc-license(src='/img/portfolio/nd.png')
              img.img-responsive.img-centered(src='/img/team/1.jpg', alt='')
              p
                a(href='https://www.flickr.com/photos/dvids/') Dvidshub
                a(href='https://creativecommons.org/licenses/by/2.0/')
                  img.cc-license(src='/img/portfolio/by.png')
              img.img-responsive.img-centered(src='/img/portfolio/hamster.jpg', alt='')
              p Adapted from
                a(href='https://www.flickr.com/photos/peosoldier/') Program Executive Office Soldier
                a(href='https://www.flickr.com/photos/11172034@N08/') Hannah Gilbert
                a(href='https://creativecommons.org/licenses/by/2.0/')
                  img.cc-license(src='/img/portfolio/by.png')
              img.img-responsive.img-centered(src='/img/portfolio/badger.jpg', alt='')
              p
                a(href='https://www.flickr.com/photos/peter-trimming/') Peter Trimming
                a(href='https://creativecommons.org/licenses/by/2.0/')
                  img.cc-license(src='/img/portfolio/by.png')
              img.img-responsive.img-centered(src='/img/portfolio/organ.jpg', alt='')
              p
                a(href='https://www.flickr.com/photos/mdid/') David Pursehouse
                a(href='https://creativecommons.org/licenses/by/2.0/')
                  img.cc-license(src='/img/portfolio/by.png')
              img.img-responsive.img-centered(src='/img/portfolio/shopping.jpg', alt='')
              p
                a(href='https://www.flickr.com/photos/exil-fischkopp/') André Hofmeister
                a(href='https://creativecommons.org/licenses/by-sa/2.0/')
                  img.cc-license(src='/img/portfolio/by.png')
                  img.cc-license(src='/img/portfolio/sa.png')
              a(href='/#portfolio')
                button.btn.btn-primary(type='button')
                  i.fa.fa-times
                  |  Close
    
