extends ../layout

block content
  // Start: Main
  .miniheader
  include ../includes/midAdUnit.jade
  section#project
    .container
      .row
        .col-lg-12.text-center
          h2.section-heading Self-Detonating Honey Badgers 
          h3.section-subheading.text-muted Giving Nature the upper hand.
          img.img-responsive.img-centered(src='/img/portfolio/badger.jpg', alt='')
      .row
        .col-lg-12
          h4 The Goal:
          p
            | Imagine populating the battlefield with honey badgers that can be signaled to explode at a momment's notice. 
            | Unlike land mines that last for centuries, these critters are only dangerous for their genetically engineered short life time.
          br
          h4 The Science:
          p 
            | We've engineered the male badger to have a DNA comprised of potassium permanganate and the females to have a higher than usual glycerol level. 
            | When the two combine to make sweet love, the chemicals react in a fierce explosion. Mating is triggered by blaring Barry White
            | songs over loud speakers.
          br
          h4 The Results:
          p
            | Our American Soldiers can be victorious on the battlefield without being in harm's way. All the while listening to the dulcet tones of Barry White. Nice.
