extends ../layout

block content
  // Start: Main
  .miniheader
  include ../includes/midAdUnit.jade
  section#project
    .container
      .row
        .col-lg-12.text-center
          h2.section-heading Weapons Grade Hamsters 
          h3.section-subheading.text-muted Let's let the animals do the dirty work.
          img.img-responsive.img-centered(src='/img/portfolio/hamster.jpg', alt='')
      .row
        .col-lg-12
          h4 The Goal:
          p
            | Why should our brave soldiers put themselves in harms way when a fully trained 
            | and instinctively lethal hamster could do the job?
          br
          h4 The Science:
          p 
            | We've been able to cross-breed Hamsters with Genetic Material from Ghengis Khan, giving them the mindset of 
            | world domination. Additionally, we've augmented their learning centers to give them a specific military skill set:
            ul
              li Sniper
              li Hand to Paw combat
              li Bomb deployment
              li Missle Guidance
              li and more!
          br
          h4 The Results:
          p
            | These powerful gerbils are transforming the United States Military into a tiny fighting force that keeps
            | actual human beings out of harms way.
